version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'monthly'
    open-pull-requests-limit: 10

  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
    open-pull-requests-limit: 10
    groups:
      lint:
        patterns:
          - "@typescript-eslint/*"
          - "eslint"
          - "eslint-*"
          - "prettier"
      vitest:
        patterns:
          - "vitest"
          - "@vitest/*"
      typescript:
        patterns:
          - "@types/*"
          - "typescript"
      awilix:
        patterns:
          - "awilix"
          - "awilix-*"
