name: Common CI
on:
  workflow_call:
    inputs:
      working_directory:
        required: true
        type: string
      node_version:
        required: true
        type: string
    secrets:
      npm_token:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node ${{ inputs.node_version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node_version }}

      - name: Install
        run: npm install --ignore-scripts
        working-directory: ${{ inputs.working_directory }}

      - name: Build TS
        run: npm run build
        working-directory: ${{ inputs.working_directory }}

      - name: Docker start
        run: npm run docker:start:dev
        working-directory: ${{ inputs.working_directory }}

      - name: Run Tests
        run: npm run test:ci
        ## TODO: refactor to have turbo cache
        working-directory: ${{ inputs.working_directory }}

      - name: Docker stop
        run: npm run docker:stop:dev
        working-directory: ${{ inputs.working_directory }}
