name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  general:
    strategy:
      matrix:
        node-version: [22.x, 24.x]
        package-name: [
          '@message-queue-toolkit/amqp',
          '@message-queue-toolkit/core',
          '@message-queue-toolkit/metrics',
          '@message-queue-toolkit/outbox-core',
          '@message-queue-toolkit/redis-message-deduplication-store',
          '@message-queue-toolkit/s3-payload-store',
          '@message-queue-toolkit/schemas',
          '@message-queue-toolkit/sns',
          '@message-queue-toolkit/sqs',
          '@message-queue-toolkit/gcp-pubsub',
          '@message-queue-toolkit/gcs-payload-store',
          '@message-queue-toolkit/kafka'
        ]
    uses: ./.github/workflows/ci.common.yml
    with:
      node_version: ${{ matrix.node-version }}
      package_name: ${{ matrix.package-name }}

  automerge:
    needs: [ general ]
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    steps:
      - uses: fastify/github-action-merge-dependabot@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
