name: amqp CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  call-ci-flow:
    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x, 23.x]
        package-name: [
          '@message-queue-toolkit/amqp',
          '@message-queue-toolkit/core',
          '@message-queue-toolkit/metrics',
          '@message-queue-toolkit/outbox-core',
          '@message-queue-toolkit/redis-message-deduplication-store',
          '@message-queue-toolkit/s3-payload-store',
          '@message-queue-toolkit/schemas',
          '@message-queue-toolkit/sns',
          '@message-queue-toolkit/sqs'
        ]
    uses: kibertoad/message-queue-toolkit/.github/workflows/ci.common.yml@main
    with:
      node_version: ${{ matrix.node-version }}
      package_name: ${{ matrix.package-name }}
